.cache
.cache/**/*.*
.vscode
.idea
test-chain-state
test-chain-state-bp
test-chain-state-tmp
*.testrun*.log
dist

# Ignore build artifacts from the local tests sub-crate.
target
artifacts

# Ignore backup files creates by cargo fmt.
**/*.rs.bk

# Remove Cargo.lock when creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
Cargo.lock

# Dependency directory
node_modules

.yarn/*
.yarn/install-state.gz
yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

package-lock.json

# macOS
.DS_Store

yarn.lock
.cargo/config.toml


#typechain
/typechain

*deployedContracts.json
build.log
build.log.html

jscpd
clippy.log
